/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 5px;
}
.footer__img {
    margin-right: 36px;
}
.footer__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
}
.footer__link:hover {
    color: #C99E71;
}
.footer-form {
    position: relative;
    width: 328px;
    margin-left: auto;
}
.footer__input {
    width: 100%;
    padding: 22px 70px 22px 28px;
    border-radius: 36px;
    background-color: #1C1814;
}
.footer-form__btn {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #C99E71;
    transform: translateY(-50%);
}
.footer-form__btn:hover {
    background-color: #C99E71;
}
.footer-copyright {
    margin-top: 72px;
    padding: 32px 0;
    text-align: center;
    background-color: #1C1814;
}