/* Testimonial */
.testimonial-wrap {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 36px;
}
.testimonial {
    padding: 40px;
    background-color: #1C1814;
}
.testimonial-data,
.testimonial-info {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.testimonial__img {
    display: block;
    width: 129px;
    height: 149px;
}
.testimonial-info {
    margin-top: 28px;
}
.testimonial__name {
    display: block;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
}
.testimonial__position {
    font-size: 14px;
    line-height: 25px;
    opacity: 0.5;
}
.testimonial__list {
    gap: 4px;
}
.testimonial__list .rating__item {
    align-self: flex-end;
    color: #FAA61A;
    font-size: 20px;
}
.testimonial-action,
.testimonial-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial-count__text {
    display: block;
    margin-bottom: 20px;
    color: #C99E71;
    font-size: 20px;
}
.testimonial-count__progress {
    appearance: none;
    width: 120px;
    height: 4px;
}
.testimonial-count__progress::-webkit-progress-bar {
    background-color: #2B2926;
}
.testimonial-count__progress::-webkit-progress-value {
    border-radius: 3px;
    background-color: #C99E71;
}
.testimonial-btn-wrap {
    gap: 16px;
}
.testimonial-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: default;
}
.testimonial-btn_active {
    color: #010102;
    background-color: #C99E71;
    cursor: pointer;
}
.testimonial-btn_active:hover {
    background-color: #bd864b;
}